In [1]:
import pandas as pd
import numpy as np
import pickle
from sklearn.preprocessing import StandardScaler

import autoreload

In [37]:
corr_features = pd.read_csv("C:/Users/Casey/Desktop/SNAP/Data/corr_features.csv")

In [83]:
##### Predictions Codes #####
def clean_data_to_predict(dataset):
    """Cleans new datasets for processing through prediction"""
    fullname_df = pd.DataFrame()
    fullname_df['state']=dataset['STATENAME']
    for feature in corr_features['Table 1']:
        try:
            fullname_df[feature] = dataset[feature].astype('float64')
        except:
            continue
    fullname_df['VEHICLEA']=fullname_df['VEHICLEA'].fillna(1) #set nulls to 1 for "no car"
    fullname_df=fullname_df.dropna() #drop the remaining null values out of the reduced column set
    return fullname_df

def top_coef_df(fullname, dataset):
    """Creates a dataframe on .corr(), used for unit categories."""
    fullname_df = pd.DataFrame()
    for ea in fullname['feature']:
        try:
            fullname_df[ea] = dataset[ea]
        except:
            continue
    fullname_df['state']=dataset['state']
    return fullname_df

In [84]:
model= pickle.load(open('C:/Users/Casey/Desktop/SNAP/Data/final_model.sav', 'rb'))

In [85]:
##### 2018 Data #####

In [86]:
df = pd.read_csv('C:/Users/Casey/Desktop/SNAP/qcfy2018_csv_0/qc_pub_fy2018.csv')
df.head()

,FSAFIL1,FSAFIL2,FSAFIL3,FSAFIL4,FSAFIL5,FSAFIL6,FSAFIL7,FSAFIL8,FSAFIL9,FSAFIL10,...,WORK12,WORK13,WORK14,WORK15,WORK16,FSNONCIT,FSDIS,FSELDER,FSKID,STATENAME
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,0,1,0,Connecticut
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,1,0,0,Connecticut
2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,1,0,0,Connecticut
3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,0,0,0,Connecticut
4,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,1,0,0,Connecticut

In [69]:
df.shape

(43738, 814)

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43738 entries, 0 to 43737
Columns: 814 entries, FSAFIL1 to STATENAME
dtypes: float64(373), int64(440), object(1)
memory usage: 271.6+ MB

In [71]:
##### Predictions #####

In [72]:
df = clean_data_to_predict(df)

In [73]:
ss= StandardScaler()
X = ss.fit_transform(df.drop(columns=['state']))
df['predict']=model.predict(X)
df

,state,FSTOTDE2,CERTHHSZ,FSSSI,FSGA,FSUNEARN,FSVEHAST,VEHICLEA,RAWNET,FSTOTDED,...,TANF_IND,TPOV,FSSLTDED,FSTANF,FSNELDER,LIQRESOR,REALPROP,HWGT,FSNONCIT,predict
0,Connecticut,744.0,1.0,0.0,0.0,920.0,0.0,1.0,176.0,744.0,...,0.0,92.0,584.0,0.0,1.0,0.0,0.0,3575.418186,0.0,1.0
1,Connecticut,1171.0,1.0,0.0,0.0,1197.0,0.0,1.0,239.0,1171.0,...,0.0,140.0,969.0,0.0,0.0,0.0,0.0,3704.260672,0.0,1.0
2,Connecticut,1129.0,1.0,0.0,0.0,1278.0,0.0,1.0,149.0,1129.0,...,0.0,127.0,969.0,0.0,0.0,0.0,0.0,3521.168714,0.0,1.0
3,Connecticut,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,160.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3216.015443,0.0,1.0
4,Connecticut,962.0,1.0,735.0,0.0,1113.0,0.0,1.0,151.0,962.0,...,0.0,111.0,802.0,0.0,0.0,0.0,0.0,3527.949889,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43733,Guam,150.0,2.0,0.0,0.0,150.0,0.0,1.0,0.0,321.0,...,0.0,11.0,0.0,0.0,0.0,0.0,0.0,434.970460,0.0,1.0
43734,Guam,608.0,2.0,0.0,0.0,0.0,0.0,1.0,468.0,608.0,...,0.0,79.0,72.0,0.0,0.0,0.0,0.0,455.422602,0.0,1.0
43735,Guam,527.0,3.0,0.0,0.0,0.0,0.0,1.0,504.0,527.0,...,0.0,61.0,0.0,0.0,0.0,0.0,0.0,428.583705,0.0,1.0
43736,Guam,0.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,321.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,434.970460,0.0,1.0
43737,Guam,250.0,6.0,0.0,0.0,250.0,0.0,1.0,0.0,913.0,...,0.0,9.0,456.0,0.0,0.0,0.0,0.0,331.386190,0.0,1.0

In [74]:
df.to_csv('C:/Users/Casey/Desktop/SNAP/Data/2018_Indicators/preds_all.csv',index=None)

In [75]:
pred_df = pd.DataFrame(df.groupby('state')['predict'].value_counts().unstack()).rename(columns={0.0:'No',1.0:'Yes'})

In [76]:
pred_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 53 entries, Alabama to Wyoming
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   No      53 non-null     int64
 1   Yes     53 non-null     int64
dtypes: int64(2)
memory usage: 1.2+ KB

In [77]:
pred_df.to_csv('C:/Users/Casey/Desktop/SNAP/Data/2018_Indicators/preds_target.csv',index='state')

In [78]:
##### GIS Analysis Files #####

# These series of dataframes show:

# coef_df = the model tree interpreter coefficients impact on the model prediction, sorted by largest to smallest impact.
# top = the top 15 of the most impactful coefficients on prediction.
# coef_2018 = a dataframe of the top most impactful coefficients retrieved from 2018 data.
# coef_2018.groupby('State')= the mean average of impactful coefficients by state.

In [79]:
coef_df = pd.read_csv('C:/Users/Casey/Desktop/SNAP/Data/2018_Indicators/coef.csv')
coef_df['diff']= (coef_df['pred_0']-coef_df['pred_1']).abs()
coef_diff = coef_df.drop(columns=['pred_0','pred_1'])

In [80]:
coef_diff = coef_diff.sort_values(by=['diff'],ascending=False).reset_index(drop=True)
top = coef_diff.head(15)
top.to_csv('C:/Users/Casey/Desktop/SNAP/Data/2018_Indicators/top_impacts.csv',index=None)

In [81]:
coef_2018= top_coef_df(top, df).set_index('state')
coef_2018.astype('int64').to_csv('C:/Users/Casey/Desktop/SNAP/Data/2018_Indicators/coef_2018_all.csv',index='state')

In [82]:
coef_2018.groupby('state').mean().astype('int64').to_csv('C:/Users/Casey/Desktop/SNAP/Data/2018_Indicators/coef_2018_state_avg.csv',index='state')